<% @user ||= current_user %>
<div class="stats">
  <a href="<%= joining_user_path(@user) %>">
    <strong id="joining" class="stat">
      <%= @user.movies.count %>
    </strong>
    joining
  </a>
</div>